<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i title="facebook" class="fa-brands fa-square-facebook"></i>
            <i title="Instagram" class="fa-brands fa-square-instagram"></i>
            <i title="X-twitter" class="fa-brands fa-x-twitter"></i>
        </div>
    <div class="web">Wanderlust Website</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
   </div>
</footer>